
.btn {
    border: 1px solid black;
    color: black;
    background-color: transparent;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    transition: 0.3s;
    width: 9rem;

    &:hover {
    background-color: #b5e48c;
    }
}