
.btn {
    border: 1px solid black;
    color: black;
    background-color: transparent;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: 0.3s;
    width: 9rem;
    cursor: pointer;

    &:hover {
    background-color: #b5e48c;
    }

    &:active {
    // background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translate(4px,4px);
    }
}