.hero__quote {
    &__text {
        display: inline;
        padding: 0 1.5rem;
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &__author {
        font-style: italic;
    }

    &--left {
        font-size: 2rem;
    }

    &--right {
        font-size: 2rem;
    }

    &__wrapper {
        margin-bottom: 2rem;
        padding: 0 2rem;
    }
}

.hero__main__wrapper {
    margin-bottom: 2rem;
}

.hero__img {
    
    width: 100%;
    object-fit: cover;
    height: 25vh;
}

