@use "../../styles/mixins" as *;


.card {

    &__main__wrapper {
        padding: 0 2rem;
        margin-bottom: 3rem;
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;

        @include tablet {
            margin: 2.4rem 0;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
    }

    &__img {
        margin-bottom: 1rem;
    }

    &__chevron {
        &--left {
            font-size: 2rem;
        }

        &--right {
            font-size: 2rem;
        }
    }
}