@use "../../styles/mixins" as *;


.card {

    &__main__wrapper {
        padding: 0 2rem;
        margin-bottom: 3rem;

        @include tablet {
            margin: 0;
            width: 33.3%;
        }

        @include desktop {
            margin-bottom: 4rem;
            width: 20%;
        }
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 2rem;
        text-align: center;

        @include tablet {
            margin: 2.4rem 0;
        }

        @include desktop {
            margin-bottom: 4rem;
            font-size: 2.4rem;
        }
    }

    &__name {
        @include tablet {
        height: 40px;
        }
        width: 100%;
    }

    &__author {
        width: 100%;
        @include tablet {
        height: 40px;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.8rem;

        @include tablet {
        margin-bottom: 3rem;
        }
    }

    &__img {
        margin: 0;
        margin-bottom: 1rem;
        max-height: 180px;
        object-fit: cover;
    }

    &__chevron {
        &--left {
            font-size: 2rem;
        }

        &--right {
            font-size: 2rem;
        }
    }

    &__each__wrapper {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }
}