@use "../styles/mixins" as *;


.search {
    &__wrapper {
        display: flex;
            flex-direction: column;
            padding: 1rem 3rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
        
            @include tablet {
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 0;
        }
    }

    &__card {
        &__wrapper {
            display: flex;
        flex-direction: column;
        padding: 1rem 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        // height: 420px;

        @include tablet {
            width: 40%;
            margin-bottom: 2rem;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include desktop {
            margin-bottom: 4rem;
            width: 20%;
        }
        }

        &{
            &__img {
                margin: 0;
                margin-bottom: 1rem;
                // height: 180px;
                object-fit: cover;
            }
        }
    }
}