@use "../../styles/mixins" as *;


.header{
    &__wrapper {
        padding: 1rem 2rem;

        @include tablet {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            padding: 1.8rem 2.4rem;
        }

        @include desktop {
            padding: 2.4rem 8.8rem;
        }
    }

    &__img {
        margin: 0;
        height: 5vh;

        @include desktop {
            height: 7vh;
        }
    }

    &--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @include tablet {
            margin: 0;
            width: 30%;
        }
    }

    &--right {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;

        @include desktop {
            font-size: 2.4rem;
        }
    }
}

.search{
    &__wrapper {
        display: flex;
        position: relative;
        margin-bottom: 2rem;

        @include tablet {
            margin: 0;
            width: 70%;
            order: -1;
        }
    }

    &__input {
        border: 1px solid lightgray;
        // border-radius: 5px;
        height: 5vh;
        width: 100%;
        padding: 2px 23px 2px 30px;
        // outline: 0;
        background-color: #F8F9FA;
        font-family: "Montserrat",Helvetica,Arial,Verdana,sans-serif;

        @include desktop {
            height: 7vh;
            font-size: 2.4rem;
        }

    &:hover, &:focus {
        border: 1.5px solid #009688;
        background-color: white;
    }
    }

    &__icon {
        position: absolute;
        right: 0;
        width: 50px;
        top: 10px;

        @include desktop {
            font-size: 2.4rem;
            top: 17px;
        }
    }
}