@use "../../styles/mixins" as *;


.header {
    &__wrapper {
        padding: 1rem 2rem;
        // position: fixed;
        // top: 0;
        // width: 100%;
        // background-color: #009688;
        // height: 50px;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            padding: 1.8rem 2.4rem;
        }

        @include desktop {
            padding: 2.4rem 8.8rem;
        }
    }

    &__link {
        margin: 0;
    }

    &__img {
        margin: 0;
        height: 5vh;

        @include desktop {
            height: 7vh;
        }
    }

    &--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @include tablet {
            margin: 0;
            width: 30%;
        }
    }

    &--right {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
        text-decoration: none;
        color: black;


        &__wrapper {
            display: flex;
            gap: 1rem;

            @include tablet {
            flex-direction: column;
            }
        }


        @include desktop {
            font-size: 2.4rem;
        }
    }

    &--btm {
        position: relative;
    }

    &__cart {

    position: relative;

    &__num {
        font-size: 1.5rem;
        background: #ff0000;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px; 
        border-radius: 50%;
        position: absolute;
        top: -9px;
        right: -10px;

        @include desktop {
        right: -5px;

        }
    }
    }

    &__bar {
        display: flex;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        gap: 2rem;
        // width: 100%;

        @include tablet {
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

        }
    }

    &__used {
        text-decoration: none;
        color: black;
        margin: 0;
    }

    &__home {
        margin: 0;
        text-decoration: none;
        color: black;
    }
}

.search{
    &__form__wrapper {
        display: flex;
        position: relative;
        margin-bottom: 2rem;

        @include tablet {
            margin: 0;
            width: 50%;
            order: -1;
        }
    }

    &__input {
        border: 1px solid lightgray;
        // border-radius: 5px;
        height: 5vh;
        width: 100%;
        padding: 2px 23px 2px 30px;
        // outline: 0;
        background-color: #F8F9FA;
        font-family: "Montserrat",Helvetica,Arial,Verdana,sans-serif;

        @include desktop {
            height: 7vh;
            font-size: 2.4rem;
        }

    &:hover, &:focus {
        border: 1.5px solid #009688;
        background-color: white;
    }
    }

    &__icon {
        position: absolute;
        right: 0;
        width: 50px;
        top: 10px;

        @include desktop {
            font-size: 2.4rem;
            top: 17px;
        }
    }
}