@use "../../styles/mixins"as *;


.header {

    &__search__btn {
        @include desktop {
            width: 20% !important;
        }
    }

    &__final {
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__box {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;

        @include desktop {
            width: 60%;
            margin-bottom: 0;
        }
    }

    &__wrapper {
        padding: 1rem 2rem 0 2rem;


        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            padding: 1.8rem 2.4rem;
        }

        @include desktop {
            padding: 2.4rem 8.8rem;
        }
    }

    &__link {
        margin: 0;
        text-decoration: none;
        color: black;
    }

    &__img {
        margin: 0;
        height: 5vh;

        @include desktop {
            height: 7vh;
        }
    }

    &--top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        gap: 1rem;

        @include tablet {
            margin: 0;
            width: 30%;
        }
    }

    &--right {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
        text-decoration: none;
        color: black;


        &__wrapper {
            display: flex;
            gap: 3rem;

            @include tablet {
                flex-direction: column;
                gap: 1rem;
            }
        }


        @include desktop {
            font-size: 1.6rem;
        }
    }

    &--btm {
        position: relative;
    }

    &__cart {

        position: relative;

        &__num {
            font-size: 1.5rem;
            background: #ff0000;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px;
            border-radius: 50%;
            position: absolute;
            top: -9px;
            right: -10px;

            @include desktop {
                right: -5px;

            }
        }
    }

    &__bar {
        display: flex;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        gap: 2rem;
        justify-content: space-between;
        // width: 100%;


        @include tablet {
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 0;
        }
    }

    &__used {
        text-decoration: none;
        color: black;
        margin: 0;
    }

    &__home {
        margin: 0;
        text-decoration: none;
        color: black;
    }

    &__search {

        @include desktop {
            width: 20%;
            font-size: 1.6rem;
        }
    }

    &__banner {
        width: 100%;
        height: 100%;
        background-color: gray;
        color: white;
        text-align: center;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            height: 6vh;
        }

        @include desktop {
            height: 7vh;
        }
    }
}

.search {
    &__form__wrapper {
        display: flex;
        position: relative;
        // margin-bottom: 2rem;

        @include tablet {
            margin: 0;
            width: 50%;
            order: -1;
        }
    }

    &__input {
        border: 1px solid lightgray;
        // border-radius: 5px;
        height: 5vh;
        width: 100%;
        padding: 2px 23px 2px 30px;
        // outline: 0;
        background-color: #F8F9FA;
        font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif;

        @include desktop {
            // height: 7vh;
            font-size: 2.0rem;
        }

        &:hover,
        &:focus {
            border: 1.5px solid #009688;
            background-color: white;
        }
    }

    &__icon {
        position: absolute;
        right: 0;
        width: 50px;
        top: 10px;

        @include desktop {
            font-size: 2.4rem;
            top: 17px;
        }
    }
}