@use "../../styles/mixins"as *;

.footer {
    margin-top: auto;


    &__social__wrapper {
        // width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 2rem;

        @include tablet {
            font-size: 2.4rem;
            width: 50%;
            margin: 0 auto;
            margin: 5rem auto;
        }

        @include desktop {
            font-size: 3.2rem;
        }
    }

    &__copyright {
        text-align: center;
    }
}