@use "./styles/global"as *;

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.app {
    position: relative
}

.signup__notice {
    margin-top: -36rem;
    color: green;
}

